body, html{
    height: 100%;
}
#main{
    background-color: black;
}
.btn-container{
    margin: 0;
    padding: 0;
    float:right;
}
.boton-top-rigth-l, .boton-top-rigth-r{
    padding: 0;
    top:5px;
    height: 56px;
    width: 56px;
    border:none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: 24px 24px;
}
.boton-top-rigth-l{
    background-color:rgba(232, 142, 109, 0.5);
    background-image: url(../img/icons/map-pointer2.svg);
}
.boton-top-rigth-r{
    background-color:rgba(232, 218, 109, 0.5);
    background-image: url(../img/icons/storage20.svg);
}
.boton-bar{
    margin: 0;
}
#map-page, #map-canvas, #cam-page { 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
    z-index: 10;
}

#detail-viewer{
    opacity: 0;
    background-color: #795548;
    width:95%; 
    height: 45%; 
    position: fixed;
    left:50%;   
    margin: 0 0 5% -47.5%;
    bottom: 0; 
    padding:0;
    overflow: hidden;
    transition: opacity 0.2s;
    transition-timing-function: linear;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}
#detail-viewer header, #detail-viewer h1{
    margin: 0;
    font-family: "Helvetica";
    font-weight: normal;
}
#detail-viewer header{
    margin:0;
    width:100%;
    padding: 5%;
    color: white;
    font-family: "Helvetica";
    text-shadow: none;
}
#detail-viewer h3{
    padding: 2%;
    color: whitesmoke;
}
#figure-viewer{
    text-align: center;
    float:right; 
    height: 50%; 
    width: 45%; 
    margin: 0;
    border-radius: 2px;
}
#figure-viewer > img {
    max-width: 100%;
}
#description-viewer{
    float:left; 
    height: 50%; 
    width: 49%;
    padding: 0 2%;
    border-radius: 2px;
}
#description-container, #distance-container{
    margin:0;
    padding:0;
}
#description-container {
    height: 90%;
    overflow-y: scroll;
    padding-bottom: 5%;
}
#distance-container {
    height: 10%;
}
#description, #distance {
    color: whitesmoke;
    margin: 0;
    text-align: justify;
    text-shadow: none;
}
#description {
    font-size: 14px;
}
#distance {
    font-size: 10px;
}

.view{
    height:90%;
    margin: 3%;
}
.swiper-container{
    height: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    border-radius: 2px;
}
.swiper-slide{
    width:100%;
}
.swiper-slide img{
    height:100%;
}